{% extends "common/base.html" %}
{% load split_res %}
{% block content_title %}
    升级详细信息
    <small>升级详细信息</small>
{% endblock %}
{% block uri %}
    <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
    <li class="active"><a href="{% url 'deploy_task_list' %}">升级管理</a></li>
    <li class="active"><a href="#">升级详细信息</a></li>
{% endblock %}
{% block main_body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">项目版本部署升级</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td colspan="4">一、基本信息</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="col-md-2">项目名称</td>
                                    <td>{{ deploytask.project.module_name }}</td>
                                </tr>
                                <tr>
                                    <td>svn路径</td>
                                    <td>{{ deploytask.svn_path }}</td>
                                </tr>
                                <tr>
                                    <td>负责人</td>
                                    <td>{{ deploytask.principal }}</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr>
                                    <td colspan="4">二、升级说明</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Tag日期</td>
                                    <td>{{ deploytask.tag_date|date:"Y-m-d" }}</td>
                                </tr>
                                <tr>
                                    <td>Tag版本</td>
                                    <td>{{ deploytask.tag_version }}</td>
                                </tr>
                                <tr>
                                    <td>版本简要说明</td>
                                    <td colspan="3">{{ deploytask.desc }}</td>
                                </tr>
                                <tr>
                                    <td>修改的缺陷</td>
                                    <td colspan="3">{{ deploytask.bug_fix }}</td>
                                </tr>
                                <tr>
                                    <td>新增的功能</td>
                                    <td colspan="3">{{ deploytask.update_function }}</td>
                                </tr>
                                <tr>
                                    <td>已解决的问题</td>
                                    <td colspan="3">{{ deploytask.solve_problem }}</td>
                                </tr>
                                <tr>
                                    <td>可能存在的风险</td>
                                    <td colspan="3">{{ deploytask.exist_risk }}</td>
                                </tr>
                                <tr>
                                    <td>出现问题回滚措施</td>
                                    <td colspan="3">{{ deploytask.roll_back }}</td>
                                </tr>
                                <tr>
                                    <td>新上线功能是否可监控</td>
                                    <td colspan="3">{{ deploytask.is_monitored }}</td>
                                </tr>
                                <tr>
                                    <td>版本开发人员</td>
                                    <td colspan="3">{{ deploytask.develop_person }}</td>
                                </tr>
                                <tr>
                                    <td>升级后监控人员</td>
                                    <td colspan="3">{{ deploytask.monitored_person }}</td>
                                </tr>
                                <tr>
                                    <td>升级后功能验证人员</td>
                                    <td colspan="3">{{ deploytask.verify_person }}</td>
                                </tr>
                                <tr>
                                    <td>是否需要测试验证</td>
                                    <td colspan="3">{{ deploytask.need_test }}</td>
                                </tr>
                                <tr>
                                    <td>是否需要升级部分节点</td>
                                    <td colspan="3">{{ deploytask.upgrade_partition }}</td>
                                </tr>
                                <tr>
                                    <td>升级操作人员</td>
                                    <td colspan="3">{{ deploytask.handle_person }}</td>
                                </tr>
                                {% if zip_file %}
                                <tr>
                                    <td>附件SQL</td>
                                    <td colspan="3"><a href="/deploy/task/download/sql/file/{{ deploytask.project.module_name }}/{{ deploytask.tag_version }}/">{{ zip_file }}</a></td>
                                </tr>
                                {% endif %}
                                {% if test_report %}
                                <tr>
                                    <td>测试报告</td>
                                    <td colspan="3">
                                        {% for tr in test_report.test_report_file_list %}
                                            <a href="{% url 'test_report_download' deploytask.project.module_name deploytask.tag_version tr %}">{{ tr }}</a><br/>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if receiving_report %}
                                <tr>
                                    <td>验收报告</td>
                                    <td colspan="3">
                                        {% for rr in receiving_report.receiving_report_file_list %}
                                            <a href="{% url 'receiving_report_download' deploytask.project.module_name deploytask.tag_version rr %}">{{ rr }}</a><br/>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>升级步骤</td>
                                    <td>{% for step in deploytask.upgrade_step|split %}{{ step }}<br/>{% endfor %}</td>
                                </tr>
                            </tbody>
                        </table>
                        {% if perms.deploy.examine_deploytask %}
                            {% ifequal deploytask.need_test "yes" %}
                                {% ifequal deploytask.is_test_pass "no" %}
                                    {% ifequal deploytask.is_backspace "no" %}
                                        <a class="btn btn-success" href="{% url 'test_pass' deploytask.project.module_name deploytask.tag_version %}">测试通过</a>
                                    {% endifequal %}
                                {% endifequal %}
                            {% endifequal %}
                        {% endif %}
{#                        {% ifequal deploytask.is_examine_pass "no" %}#}
{#                            <a class="btn btn-primary" href="#">审核通过</a>#}
{#                        {% endifequal %}#}
                        {% if perms.deploy.backspace_deploytask %}
                            {% ifequal deploytask.need_test "yes" %}
                                {% ifequal deploytask.is_test_pass "no" %}
                                    {% ifequal deploytask.is_backspace "no" %}
                                        <a class="btn btn-danger" href="/deploy/task/back/{{ deploytask.principal }}/{{ deploytask.project.module_name }}/{{ deploytask.tag_version }}/">回退</a>
                                    {% endifequal %}
                                {% endifequal %}
                            {% endifequal %}
                        {% endif %}
                        {% if perms.deploy.upgrade_partition %}
                            {% if deploytask.upgrade_partition == "yes" and deploytask.is_upgrade_partition == "no" %}
                                <a class="btn btn-warning" href="{% url 'upgrade_partition' deploytask.project.module_name deploytask.tag_version %}">升级部分节点</a>
                            {% endif %}
                        {% endif %}
                        {% if perms.deploy.upgrade_continue %}
                            {% if deploytask.upgrade_partition == "yes" and deploytask.is_upgrade_partition == "yes" and deploytask.is_upgrade_continue == "no" %}
                                <a class="btn btn-primary" href="{% url 'upgrade_continue' deploytask.project.module_name deploytask.tag_version %}">继续升级</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}