{% extends "common/base.html" %}
{% load pagination_tags %}
{% block content_title %}
    上传文件列表
    <small>上传文件列表</small>
{% endblock %}
{% block uri %}
    <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
    <li class="active"><a href="#">文件管理</a></li>
{% endblock %}
{% block main_body %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
            <form action="" method="post">
              <div class="col-xs-3 no-padding">
                <div class="input-group date" id="datetimepicker3">
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                    {{ file_list_form.upload_time }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span id="host_tip" style="position: absolute;left: 0;top: 40px;color: #ff5959;font-size: 12px;display: none">{% block warning %}{% endblock %}</span>
              </div>
                {% if request.user.is_superuser %}
                    <div class="col-xs-2">
                        {{ file_list_form.user }}
                    </div>
                {% endif %}
              <div class="col-xs-3">
                  <button class="btn btn-info flat" id="search_wf"><i class="fa fa-search"> </i> 搜索</button>
                  <button class="btn btn-info flat" data-toggle="modal" data-target="#edit_project"><a href="{% url 'upload_file' %}" style="color: #fff;"><i class="fa fa-plus"> </i>文件上传</a></button>
              </div>
            </form>
            <div class="box-body">
              <table class="table1 table text-center flat" id="hosttable">
                <thead>
                  <tr>
                        <th>billing sql文件</th>
                        <th>pay sql文件</th>
                        <th>jar 文件</th>
                        <th>创建时间</th>
                        <th>所属用户</th>
                    <th>
                      <div>操作</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% autopaginate upload_file_list 10 %}
                    {% for u in upload_file_list %}
                    <tr>
                        <td>{{ u.sql_billing_file }}</td>
                        <td>{{ u.sql_pay_file }}</td>
                        <td>{{ u.jar_file }}</td>
                        <td>{{ u.upload_time|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ u.user.username }}</td>
                        <td>
                            <a href="/deploy/upload/file/execute/{{ u.id }}/">
                                <button class="btn btn-primary btn-sm" id="transfer_script">文件执行</button>
                            </a>
                            {% if perms.deploy.delete_uploadfile %}
                                <a href="/deploy/upload/file/delete/{{ u.id }}/">
                                    <button class="btn btn-danger btn-sm del_btn" data-toggle="modal" data-target="#del_project">删 除</button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
                {% paginate %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}