{% extends "common/form_base.html" %}
{% block content_title %}
    编辑主机
    <small>新增主机</small>
{% endblock %}
{% block child_uri %}
    <li><a href="{% url 'host' %}">主机管理</a></li>
    <li><a href="" class="active">新增主机</a></li>
{% endblock %}
{% block add_form %}
    <form action="" method="post" class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="pro_name">主机名称</label>
                    {{ host_add_form.host_name }}
                    {% ifequal repeat_errors "true"  %}
                        <span>主机已经存在</span>
                    {% endifequal %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="department_name">内核</label>
                    {{ host_add_form.kernel }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="stage_name">操作系统版本</label>
                    {{ host_add_form.osrelease }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="charge_name">操作系统</label>
                    {{ host_add_form.os }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="describe_text">主机环境</label>
                    {{ host_add_form.environment }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="describe_text">集群</label>
                    {{ host_add_form.cluster }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="describe_text">主机组</label>
                    {{ host_add_form.nodegroup }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="describe_text">主机用途</label>
                    {{ host_add_form.host_usage }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <div><label>中间件</label></div>
                    {{ host_add_form.midware }}
                    <span>{% if errors %}<p>{{ errors }}</p>{% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button class="btn btn-default"><a href="{% url 'host' %}">取消</a></button>
            <button class="btn btn-info" id="add" type="submit">确定</button>
        </div>
    </form>
{% endblock %}