{% extends "common/base.html" %}
{% load pagination_tags %}
{% block content_title %}
    主机列表
    <small>主机列表</small>
{% endblock %}
{% block uri %}
    <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
    <li class="active"><a href="{% url 'host' %}">主机管理</a></li>
    <li><a href="#">主机搜索条目</a></li>
{% endblock %}
{% block main_body %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
            <form action="" method="post">
              <div class="col-xs-3 no-padding">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                    {{ host_search_form.hostname }}
                </div>
                <span id="host_tip" style="position: absolute;left: 0;top: 40px;color: #ff5959;font-size: 12px;display: none">{% block warning %}{% endblock %}</span>
              </div>
              <div class="col-xs-2">
                  {{ host_search_form.environment }}
              </div>
              <div class="col-xs-3 no-padding">
                  <button class="btn btn-info flat" id="search_wf"><i class="fa fa-search"> </i> 搜索</button>
                  <button class="btn btn-info flat" data-toggle="modal" data-target="#edit_project"><a href="{% url 'host_add' %}" style="color: #fff;"><i class="fa fa-plus"> </i>新增主机</a></button>
              </div>
            </form>
            <div class="box-body">
              <table class="table1 table text-center flat" id="hosttable">
                <thead>
                  <tr>
                        <th>主机名</th>
                        <th>系统内核</th>
                        <th>操作系统版本</th>
                        <th>系统类型</th>
                    <th>
                      <div>操作</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% autopaginate host 10 %}
                    {% for h in host %}
                    <tr>
                        <td>{{ h.host_name }}</td>
                        <td>{{ h.kernel }}</td>
                        <td>{{ h.osrelease }}</td>
                        <td>{{ h.os }}</td>
                        <td>
                            {% ifequal h.host_usage "app"  %}
                                <a href="/cmdb/host/projectmodule/info/{{ h.id }}/">
                                    <button class="btn btn-success btn-sm" id="host_projectmodule_info">模 块</button>
                                </a>
                            {% else %}
                                {% ifequal h.host_usage "mid"  %}
                                    <a href="/cmdb/host/middleware/info/{{ h.host_name }}/">
                                        <button class="btn btn-success btn-sm" id="host_projectmodule_info">模 块</button>
                                    </a>
                                {% else %}
                                    {% ifequal h.host_usage "db"  %}
                                        <a href="/cmdb/host/database/info/{{ h.host_name }}/">
                                            <button class="btn btn-success btn-sm" id="host_projectmodule_info">模 块</button>
                                        </a>
                                    {% endifequal %}
                                {% endifequal %}
                            {% endifequal %}
                            {% ifequal h.host_usage "app"  %}
                                <a href="/cmdb/hostinfo/app/update/{{ h.host_name }}/">
                                    <button class="btn btn-success btn-sm" id="host_update">更 新</button>
                                </a>
                            {% else %}
                                {% ifequal h.host_usage "mid" %}
                                    <a href="/cmdb/hostinfo/mid/update/{{ h.host_name }}/">
                                        <button class="btn btn-success btn-sm" id="host_update">更 新</button>
                                    </a>
                                {% else %}
                                    {% ifequal h.host_usage "db"  %}
                                        <a href="/cmdb/hostinfo/db/update/{{ h.host_name }}/">
                                            <button class="btn btn-success btn-sm" id="host_update">更 新</button>
                                        </a>
                                    {% endifequal %}
                                {% endifequal %}
                            {% endifequal %}
                            <a href="/cmdb/host/update/{{ h.id }}/">
                                <button class="btn btn-warning btn-sm edit_btn" data-toggle="modal" data-target="#edit_project">修 改</button>
                            </a>
                            {% if request.user.is_superuser %}
                            <a href="/cmdb/host/delete/{{ h.id }}/">
                                <button class="btn btn-danger btn-sm del_btn" data-toggle="modal" data-target="#del_project">删 除</button>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
                {% paginate %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}