{% extends "common/form_base.html" %}
{% block content_title %}
    编辑项目模块
    <small>修改模块</small>
{% endblock %}
{% block child_uri %}
    <li><a href="{% url 'projectmodule' %}">中间件管理</a></li>
    <li><a href="" class="active">修改模块</a></li>
{% endblock %}
{% block add_form %}
    <form action="" method="post" class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="pro_name">模块名称</label>
                    {{ projectmodule_update_form.module_name }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="department_name">模块描述</label>
                    {{ projectmodule_update_form.module_desc }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="stage_name">模块服务类型</label>
                    {{ projectmodule_update_form.service_type }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="charge_name">git代码链接地址</label>
                    {{ projectmodule_update_form.git_url }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="charge_name">所属项目</label>
                    {{ projectmodule_update_form.project }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="charge_name">集群</label>
                    {{ projectmodule_update_form.cluster }}
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button class="btn btn-default"><a href="{% url 'projectmodule' %}">取消</a></button>
            <button class="btn btn-info" id="addtrue" type="submit">确定</button>
        </div>
    </form>
{% endblock %}