{% extends "common/form_base.html" %}
{% block content_title %}
    编辑RDS数据库
    <small>修改RDS数据库</small>
{% endblock %}
{% block child_uri %}
    <li><a href="{% url 'projectmodule' %}">RDS数据库管理</a></li>
    <li><a href="" class="active">修改RDS数据库</a></li>
{% endblock %}
{% block add_form %}
    <form action="" method="post" class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="pro_name">RDS数据库名称</label>
                    {{ rdsschema_update_form.schema_name }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="department_name">RDS数据库所属实例</label>
                    {{ rdsschema_update_form.rdsinstance }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="stage_name">RDS数据库描述</label>
                    {{ rdsschema_update_form.schema_desc }}
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button class="btn btn-default"><a href="{% url 'rdsschema_list' %}">取消</a></button>
            <button class="btn btn-info" id="addtrue" type="submit">确定</button>
        </div>
    </form>
{% endblock %}