{% extends "common/base.html" %}
{#{% block content_title %}#}
{#    主机编辑#}
{#    <small>新增主机</small>#}
{#{% endblock %}#}
{% block uri %}
    <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
    {% block child_uri %}{% endblock %}
{% endblock %}
{% block main_body %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
                {% block add_form %}
                {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}