{% extends "common/base.html" %}
{% block uri %}
    <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 控制台</a></li>
    {% block child_uri %}{% endblock %}
{% endblock %}
{% block main_body %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
                {% block add_form %}
                {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}