{% extends "common/base.html" %}
{% load pagination_tags %}
{% block content_title %}
    项目列表
    <small>项目列表</small>
{% endblock %}
{% block uri %}
    <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
    <li class="active"><a href="#">项目管理</a></li>
    <li><a href="#">项目条目搜索</a></li>
{% endblock %}
{% block main_body %}
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
            <form action="" method="post">
              <div class="col-xs-3 no-padding">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                    {{ project_search_form.project_search_name }}
                </div>
              <span id="host_tip" style="position: absolute;left: 0;top: 40px;color: #ff5959;font-size: 12px;display: none">{% block warning %}{% endblock %}</span>
              </div>
              <div class="col-xs-3 no-padding">
                  <button class="btn btn-info flat" id="search_wf"><i class="fa fa-search"> </i> 搜索</button>
                  <button class="btn btn-info flat" data-toggle="modal" data-target="#edit_project"><a href="{% url 'project_add' %}" style="color: #fff;"><i class="fa fa-plus"> </i>新增项目</a></button>
              </div>
            </form>
            </div>
            <div class="box-body">
              <table class="table1 table text-center flat" id="hosttable">
                <thead>
                  <tr>
                        <th>项目名称</th>
                        <th>项目描述</th>
                    <th>
                      <div>操作</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% autopaginate project 10 %}
                    {% for p in project %}
                    <tr>
                        <td>{{ p.real_name }}</td>
                        <td>{{ p.description }}</td>
                        <td>
                            <a href="/cmdb/projectmodule/detail/{{ p.name }}/">
                                <button class="btn btn-success btn-sm">模 块</button>
                            </a>
                            <a href="/cmdb/project/update/{{ p.id }}/">
                                <button class="btn btn-warning btn-sm edit_btn" data-toggle="modal" data-target="#edit_project">修 改</button>
                            </a>
                            {% if request.user.is_superuser %}
                            <a href="/cmdb/project/delete/{{ p.id }}/">
                                <button class="btn btn-danger btn-sm del_btn" data-toggle="modal" data-target="#del_project">删 除</button>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
                {% paginate %}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
{% endblock %}